html{
	font-size:10px;
}
body {
	margin: 0;
	font-family: Roboto;
}
img{
	max-width: 100%;
}
header {
	padding-top: 5.9rem;
	padding-bottom: 2.2rem;
	background-color: #3a7dfd;
	color: #fff;
}
.header-pretitle {
	font-size: 1.8rem;
	margin-top: 10.2rem;
}
.header-titel {
	font-size: 4.8rem;
	font-weight: 700;
	line-height: 46.81px;
	margin-top: 2.1rem;
}
.header-subtitle{
		font-size: 1.8rem;
		margin-top: 2rem;
}
.header-button {
display: inline-block;
text-decoration: none;
box-shadow: 10px 17px 34px 6px rgba(18, 61, 145, 0.83);
border-radius: 5rem;
background-color: #ffffff;
color: #072b6f;
font-size: 1.8rem;
font-weight: 700;
padding-top: 1.7rem;
padding-left: 5.5rem;
padding-right: 5.5rem;
padding-bottom: 1.7rem;
margin-top: 3 .3rem;
} 
header small {
	font-size: 1.2rem;
	display: block; 
	text-align: center;
	margin-top: 9px;
}
.header-button-block{
	max-width: 210px;
}

/*Портфолио*/
.portfolio{
	background-color: #dddddd;
	padding-top: 44px;
	padding-bottom: 71px;
}
.portfolio-block{
	background-color: #fff;
	padding-top: 29px;
	padding-bottom: 44px;
}
.portfolio-title{
	text-align: center;
	text-transform: uppercase;
	font-size: 18px;
	color: #072b6f;
	font-weight: 700;
}
.portfolio-subtitle{
	text-align:center;
	margin-bottom: 30px;
	margin-top: 10px;
	font-size: 14px;
	color: #7bb9ff;
}
.portfolio-col1{
	padding-left: 50px;
}
.portfolio-col2{
	padding-right: 50px;
}
.portfolio-block h3 {
color: #072b6f;
font-size: 18px;
font-weight: 700;
text-transform: uppercase;
}
.portfolio-text {
color: #8f8f8f;
font-size: 14px;
font-weight: 400;
}
.portfolio-block a {
color: #072b6f;
font-size: 14px;
font-weight: 400;
text-decoration: underline;
}

/*Оформление подвала*/
footer {
	background-color: #3a7dfd;
	color: #fff;
	padding-top: 60px; 
	padding-bottom: 110px;
} 
.footer-author{
	font-size: 24px;
	margin-bottom: 7px;
}
.footer-text{
	font-size: 18px;
	margin-top: 0;
}
.social-block{
	text-align: center;
}
.social-block a {
display: inline-block;
margin-left: 13px;
margin-right: 13px;
}
.footer-cta-block{
	text-align: center;
}
.footer-cta{
	margin-bottom: 13px;
}
.footer-button{
	display: inline-block;
	text-decoration: none;
	border: 1px solid #ffffff;
	background-color: transparent;
	color: #fff;
	font-size: 18px;
	border-radius: 50px;
	padding: 12px 40px;
}
@media (max-width: 1200px) {
	.header-pretitle {
	margin-top: 60px;
}
}
@media (max-width: 992px) {
	.header-img{
		display: none;
	}
	.header-pretitle {
	margin-top: 10px;
}
.footer-author{
	font-size: 18px ;
}
.footer-text{
	font-size: 14px;
}
.social-block a {
	margin-left: 5px;
	margin-right: 5px;
}
.social-block img {
	width: 30px;
}
.footer-button{
	font-size: 14px;
	padding: 8px 35px;
}
}
@media (max-width: 768px) {
	.portfolio-col1{
		padding-left: 20px;
		padding-right: 20px;
		margin-bottom: 40px;
	}
	.portfolio-col2{
		padding-left: 20px;
		padding-right: 20px;
	}

	.footer-author, .footer-text{
		text-align: center;
	}
}